// All Colors
$c-primary: #1659d7;
$c-black: #000;
$c-white: #fff;
$c-grey: #e5e5e5;
$c-red: #db545a;
$c-grey-10: #e6e6e6;
$c-grey-20: #a1a1a1;
$c-grey-30: #b3b3b3;
$c-grey-40: #858e99;
$c-grey-50: #f2f2f2;
$c-grey-60: #999999;
$c-black-10: #111111;
$c-black-20: #0f0f0f;
$c-black-30: #333333;
$c-black-40: #292d33;
$c-black-50: #3a3a3a;
$c-black-60: #404040;

// Links
$l-link: #259bca;
$l-active: #a4c2fa;
$l-hover: #0676a4;;
$l-hover-10: #2cccc4;
$l-hover-red: #db545a;

//Buttons
$btn-hover: #1450c2;
$btn-hover-10: #7da8f8;
$btn-hover-20: #2cccc4;
